<br>
<div>
<form action='/articles/' method='get'>
  <button type='submit'>Article Index</button>
</form>
<form action='/products/' method='get'>
  <button type='submit'>Product Index</button>
</form>
</div>